
.login-section{
    width: 60%;
    height: auto;
    position: absolute;
    top:25%;
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3em;
    row-gap: 2em;
    border-radius: 20px;
}

h1{
    color: var(--primary-color)
}

::placeholder{
    color: var(--light1-color);
}

input{
    font-size: 12pt;
    background-color: var(--light5-color);
    height: 3em;
    border: none;
    border-radius: 50px;
    color: var(--light2-color);
    padding: 2em;
    outline: none;
    border: none;
    box-shadow: 2px 8px 10px var(--light2-color);
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
}

.login-button{
    position: relative;
    background-color: var(--light5-color);
    border-color: var(--light5-color);
}

.login-button:hover{
    background-color: var(--light2-color) !important;
    border-color: var(--light2-color) !important;
}