*{
  margin: 0;
  padding: 0;
}

#container{
  padding: 20px;
  width: 800px;
  height: 800px;
  margin: 0 auto;
}

#title{
  text-align: center;
  margin: 0 auto;
}

/* @keyframes showText{
  0%{width: 30px}
  50%{width: 60px;}
  100%{width: 100px;}
}
*/
#main{
  width: 500px;
  height: 50px !important;
  height: inherit;
  margin: 33px auto !important;
  display: flex;
  justify-content:center ;
  align-items: center;
}

#searchbox{
  padding: 1px;
  flex: 70%;
  height: 45px !important;
  font-size: 12pt;
  padding-left: 15px;
  outline: none;
  width: 100px;
  border: 1px solid black !important;
}

#main > button{
  display: inline-block;
  flex: 35%;
  margin-left: 25px;
  background-color: white;
  color: black;
  padding: 5px !important;
  border: 3px solid black;
  height: 50px !important;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  outline: none;
}

button:hover{
  cursor: pointer;
  border: 3px solid rgb(250, 122, 122) !important; 
  color: red !important;
  border-radius: 50px;
  transition: all 0.3s ease-out 0s;
  
}


#downloadSuccess{
  width: 350px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  color: blue;
  font-weight: bold;
  font-size: 26pt;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s linear;
}

#downloadSuccess:hover{
  opacity: 0;
}

#downloadSuccess > img{
  flex: 10%;
  outline: none;
}

#downloadSuccess > p{
  flex: 90%;
  padding-left: 20px;
  height: 50px;
  line-height: 50px;
}

.hide{
  display: none !important;
}


/* loading */
.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 3s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); background-color: red;}
  100% { transform: rotate(360deg); background-color: yellow;}
}